# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#IDE file
out
/.idea/workspace.xml
!/.idea/hacker-rank-solutions.iml
!/.idea/modules.xml
